<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoImpl" class="com.wzq.dao.UserDaoImpl"/>
    <bean id="userDaoMySqlImpl" class="com.wzq.dao.UserDaoMySqlImpl"/>
    <bean id="userDaoOracleImpl" class="com.wzq.dao.UserDaoOracleImpl"/>

    <bean id="userServiceImpl" class="com.wzq.service.UserServiceImpl">
        <property name="userDao" ref="userDaoOracleImpl"/>
    </bean>

</beans>